@font-face {
  font-family: "Raleway-regular";
  src: url("./fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-bold";
  src: url("./fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway-light";
  src: url("./fonts/Raleway-Light.ttf");
}

body {
  font-family: "Raleway-regular";
}
/* For navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}
nav > svg {
  padding-left: 3rem;
}
.anchor {
  height: 3rem;
  padding-right: 3rem;
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}
.anchor > a:not(:last-child) {
  text-decoration: none;
  color: #5f5f5f;
  height: 3rem;
  display: flex;
  align-items: center;
  transition: color 300ms, border 300ms;
  border-top: 2px solid transparent;
}
.anchor > a:not(:last-child):hover {
  text-decoration: none;
  height: 3rem;
  color: #0065fc;
  display: flex;
  align-items: center;
  border-top: 2px solid #0065fc;
}
.anchor > #inscrips {
  height: 3rem;
  text-decoration: none;
  display: flex;
  color: #0065fc;
  align-items: center;
  font-family: "Raleway-bold";
}
.anchor > svg {
  display: none;
}
@media (width <= 435px) {
  nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 3;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgb(240, 240, 240);
    background-color: #ffffff;
  }
  nav > svg {
    padding: 0;
    width: 8rem;
  }
  .anchor {
    position: fixed;
    z-index: 3;
    left: 25%;
    top: 0;
    height: 100vh;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: white;
    flex-direction: column;
    transition: left 100ms;
    padding: 2rem 0 0 2rem;
  }
  .anchor > svg {
    display: inline;
  }
}

/* For Search */
#filter {
  padding: 2rem 3rem;
}
.search-filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: small;
}
.search-filter > h3,
p {
  margin: 0;
  padding: 0;
}
.search-input {
  display: flex;
  height: 2rem;
  width: fit-content;
  border-radius: 8px;
}
.location {
  background-color: #f2f2f2;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location > svg {
  width: 0.7rem;
}
.search-input > input {
  border: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding-left: 1rem;
  outline: none;
}
.search-input > button {
  border: none;
  outline: none;
  background-color: #0065fc;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #f2f2f2;
  cursor: pointer;
  font-family: "Raleway-bold";
  transition: background-color 200ms;
}
.search-input > button:hover {
  background-color: #004cbe;
}
.filter-container {
  height: 2rem;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.filter-container > .items > h4 {
  margin: 0;
  padding: 0;
}
.items {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
}
.items > .filter-item {
  display: flex;
  align-items: center;
  border-radius: 5rem;
  border: 1px solid #deebff;
  width: auto;
  height: 2rem;
  cursor: pointer;
  transition: background-color 200ms;
}
.items > .filter-item:hover {
  background-color: #f2f2f2;
}
.items > .filter-item > .svgs {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #deebff;
}
.items > .filter-item > .svgs > svg {
  width: 1rem;
}
.items > .filter-item > .svgs > svg > path {
  fill: #0065fc;
}
.items > .filter-item > p {
  font-size: small;
  padding: 0 1rem;
  font-family: "Raleway-bold";
}
.info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  font-size: small;
}
.info > svg {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
}
@media (width <= 435px) {
  #filter {
    padding: 5rem 1rem 0 1rem;
  }
  .search-input {
    display: flex;
    height: 2rem;
    width: 100%;
    border-radius: 8px;
    justify-content: center;
  }
  .search-input > button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filter-container {
    height: fit-content;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  .items {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    flex-wrap: wrap;
  }
  .items > .filter-item > p {
    font-size: small;
    padding: 0 0.5rem;
    font-family: "Raleway-bold";
  }
  .info > svg {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
  }
}

/* For hebergement */
#hebergement {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}
#main-article {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 1rem;
  gap: 2rem;
  padding: 0 2rem;
}
.hotels {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  row-gap: 1rem;
}
.card {
  width: 10rem;
  height: 12.5rem;
  border-radius: 20px;
  padding: 5px;
  text-decoration: none;
  background-color: white;
  color: #5f5f5f;
  display: flex;
  flex-direction: column;
  font-size: small;
  box-shadow: 0 0 5px 2px #dcdcdc;
}
.card:hover {
  transform: scale(1.05);
  transition: transform 200ms;
}
.card > img {
  width: 100%;
  height: 8rem;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.card > h4 {
  color: black;
  margin: 0.5rem 0 0 0;
  padding: 0;
}
.card > p {
  margin: 0.5rem 0 0 0;
  padding: 0;
}
.card > .note {
  margin: 0.5rem 0 0 0;
  display: flex;
}
.card > .note > svg {
  width: 1rem;
}
#side-article {
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 1rem;
  gap: 2rem;
  padding: 0 2rem;
}
#side-article > h3 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#side-article > h3 > svg {
  width: 1.5rem;
  height: 1.5rem;
}
.popular-hotels {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.side-card {
  width: 100%;
  height: 6rem;
  border-radius: 20px;
  padding: 5px;
  text-decoration: none;
  background-color: white;
  color: #5f5f5f;
  display: flex;
  font-size: small;
  gap: 1rem;
  box-shadow: 0 0 5px 2px #dcdcdc;
}
.side-card:hover {
  transform: scale(1.05);
  transition: transform 200ms;
}

.side-card > img {
  width: 5rem;
  height: 6rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.side-card > .side-note {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.side-card > .side-note > h4 {
  color: black;
  margin: 0;
  padding: 0;
}
.side-card > .side-note > p {
  margin: 0;
  padding: 0;
}
.side-card > .side-note > .note {
  margin: 0.5rem 0 0 0;
  display: flex;
}
.side-card > .side-note > .note > svg {
  width: 1rem;
}
@media (width <= 435px) {
  #hebergement {
    padding: 0;
    gap: 2rem;
    flex-direction: column-reverse;
  }
  #main-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 1rem;
    gap: 1rem;
    padding: 0;
  }
  #main-article > h2,
  h4 {
    padding-left: 1rem;
  }
  .hotels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 0.5rem;
    padding: 0 0.5rem;
  }
  .card {
    width: 90%;
    height: 13.5rem;
  }
  .card > img {
    width: 100%;
    height: 9rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .card > .note > svg {
    width: 0.8rem;
  }
  #side-article {
    width: 100%;
    gap: 1rem;
    padding: 2rem 0;
  }
  #side-article > h3 {
    margin: 0;
    justify-content: space-around;
    gap: 20%;
  }
  .popular-hotels {
    align-items: center;
    gap: 1rem;
  }
  .side-card {
    width: 90%;
    height: 5rem;
  }
  .side-card > img {
    width: 6rem;
    height: 5rem;
  }
  .side-card > .side-note {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .side-card > .side-note > .note {
    margin: 0 0 0 0;
    display: flex;
  }
  .side-card > .side-note > .note > svg {
    width: 0.8rem;
  }
}

/* For Activities */
#activities {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  margin: 3rem 0;
}
.activity-item {
  display: flex;
  justify-content: space-between;
}
.activity-item > .activity-card-solo {
  width: 13rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #5f5f5f;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #dcdcdc;
}
.activity-item > .activity-card-solo:hover {
  transform: scale(1.05);
  transition: transform 200ms;
}
.activity-item > .activity-card-solo > .image-1 > img {
  width: 100%;
  height: 23rem;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.activity-item > .activity-card-solo > .image-1 > h4 {
  margin: 0.2rem 0 0 0.5rem;
  color: black;
  font-family: "Raleway-bold";
}
.activity-item > .activity-card-duo {
  width: 13rem;
  height: 25rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: #5f5f5f;
  border-radius: 20px;
}
.activity-item > .activity-card-duo > .image-1 {
  display: flex;
  flex-direction: column;
  height: 50%;
  box-shadow: 0 0 5px 2px #dcdcdc;
  border-radius: 20px;
}
.activity-item > .activity-card-duo > .image-1:hover {
  transform: scale(1.05);
  transition: transform 200ms;
}
.activity-item > .activity-card-duo > .image-1 > img {
  height: 10rem;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.activity-item > .activity-card-duo > .image-1 > h4 {
  color: black;
  font-family: "Raleway-bold";
  margin: 0.2rem 0 0 0.5rem;
}
@media (width <= 435px) {
  #activities {
    padding: 0 1rem;
    margin: 3rem 0;
  }
  .activity-item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: column;
  }
  .activity-item > .activity-card-solo {
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: column;
  }
  .activity-item > .activity-card-solo > .image-1 > img {
    width: 100%;
    height: 10rem;
  }
  .activity-item > .activity-card-duo {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .activity-item > .activity-card-duo > .image-1 > img {
    width: 100%;
    height: 10rem;
  }
}

/* For teh footer */
#foot {
  margin: 5rem 0 0 0;
  padding: 0rem 3rem;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
}

#foot > .lists {
  width: 30%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 5rem;
}

.lists > a {
  text-decoration: none;
  color: #5f5f5f;
  line-height: 2rem;
}

@media (width <= 435px) {
  #foot {
    margin: 5rem 0 0 0;
    padding: 0rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f2f2f2;
  }

  #foot > .lists {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .lists > a {
    text-decoration: none;
    color: #5f5f5f;
    line-height: 2rem;
  }
}
